/* detail.jsp*/

#employee-edit-form .employee-info, #employee-edit-form .employee-certificate{
	width: 40%;
}

#employee-edit-form .list-operation{
	width: 20%;
}

#employee-edit-form .thead-text{
	width: 30%;
}

#employee-edit-form .tbody-text{
	width: 70%;
}

#employee-edit-form .employee-info  table tbody  tr:nth-child(4), #employee-edit-form .employee-certificate tr td{
	width: 100%;
}

#employee-edit-form .employee-info  table tbody tr:nth-child(4) > td{
	width: 16%;
}
