<global.css>
.insert-button p{
	display: inline-flex;
	margin-right:10px;
}

<style.css>
/*
	addDatabase
*/

.add-database{
	text-align: center;
	margin-top:50px;
}

.database-name{
	margin-bottom:20px;
}

/*
	addLanguage
*/
.add-language{
	text-align: center;
	margin-top:50px;
}

.language-name{
	margin-bottom:20px;
}

/*
	addIndustry
*/
.add-industry{
	text-align: center;
	margin-top:50px;
}

.industry-input{
	display: inline-flex;
	text-align:center;
	margin-bottom:20px;
	margin-top:20px;
}
.industry-id{
	text-align:right;
	margin-right:10px;
}

.industry-id input{
	width:60%;
}

.industry-name input{
	width:100%;
}

/*
	addFramework
*/
.add-framework{
	text-align: center;
	margin-top:50px;
}

.framework-input{
	display: inline-flex;
	text-align:center;
	margin-bottom:20px;
	margin-top:20px;
}
.framework-id{
	text-align:right;
	margin-right:10px;
}

.framework-id input{
	width:60%;
}

.framework-name input{
	width:100%;
}

/*
	addCertificate
*/

.add-certificate{
	text-align: center;
	margin-top:50px;
}

.certificate-name{
	margin-bottom:20px;
}

/*
	addDepartment
*/
.add-department{
	text-align: center;
	margin-top:50px;
}

.department-input{
	display: inline-flex;
	text-align:center;
	margin-bottom:20px;
	margin-top:20px;
}
.deparment-id{
	text-align:right;
	margin-right:10px;
}

.department-id input{
	width:100%;
}

.department-name input{
	width:60%;
}