
/*
login.jsp
*/

.table-title p{
    	font-weight: bold;
    	margin: 5px 0px 0px 35px;
}

.login-title{
		font-size: 25px;
		display: block;
    	background-color: #4F81BD;
    	height: 27px;
}

.login-title p {
  		color: #fff;
}

.login-notice p {
    	width: 50%;
    	margin: 0px auto;
    	text-align: center;
    	margin-bottom: 20px;
}

.f-login{
	text-align: center;
	margin-bottom: 10px;


}