
/*workHistoryInsert.jsp*/

.search-form2 button {
	margin-left: 85%;
	width: 10%;
	cursor: pointer;
	text-align: center;
    border-radius:5px;
}

.search-form textarea{
	position:relative;
	top:20px;
}

.search-form select{
	position:relative;
	bottom:40px;
}

.textfix span{
	position:relative;
	bottom:40px;
}
