@charset "UTF-8";
body {
        font-family: "Roboto Regular";
        font-size: 14px;
        line-height: normal;
        color: #272727;
        line-height: 24px;
}
.wp-inner {
    width: 980px;
    margin: 0px auto;
}

.fl-left{
	float: left;
}

.fl-right{
	float: right;
}

.error{
	color: red;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
	width: 100%;
    max-width: 100%;
    text-align: center;
}

th, td{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}