@charset "UTF-8";
/* HEADER*/
#mainMenu {
	width: 100%;
	background-color: #29aed6;
	height: 65px;
}

#mainMenu a {
	display: inline-block;
	text-decoration: none;
	background-color: #EEECE1;
	color: #333;
	border: 1px solid #333;
	height: 30px;
	width: 110px;
	text-align: center;
	padding: 3px;
}

.menu-content {
	text-align: center;
}

.menu-title p {
	font-size: 20px;
	font-weight: bold;
	padding: 5px 0px 0px 10px;
}

/* home.jsp */
.page-title {
	display: block;
	background-color: #4F81BD;
	height: 27px;
}

.manager-info {
	width: 20%;
}

.manager-info .manager-name {
	color: #fff;
	font-size: 20px;
	width: 30%;
}

#manager-logout{
	width: 70%;
}
#manager-logout > a{
	color: #333;
}


.page-title a {
	color: #333;
	background-color: #fff;
	border: 1px solid #333;
	margin-right: 10px;
}

.page-title p {
	color: #fff;
}

.page-notice p {
	width: 50%;
	margin: 0px auto;
	text-align: center;
}

.content-up {
	width: 50%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content-up a {
	border: 1px solid #333;
	display: inline-block;
	width: 120px;
	height: 40px;
	padding: 7px;
	text-align: center;
	color: #333;
}

.content-down {
	width: 50%;
	margin: 0px auto;
	text-align: center;
}

.content-down a {
	border: 1px solid #333;
	display: inline-block;
	width: 120px;
	height: 40px;
	padding: 7px;
	text-align: center;
	color: #333;
}

/* result.jsp */
.table-title h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0px 10px 35px;
}

.table-content {
	width: 100%;
}

.table tbody tr:hover {
	background-color: #ddd;
	cursor: pointer;
}

/*
	search.jsp
*/
.search-form-title h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0px 10px 35px;
}

.search-form-content {
	width: 100%;
	margin-bottom: 2%;
}

.search-form-wp {
	width: 75%;
	margin: 0px auto;
	padding: 0.5% 0 0 0.5%;
	border-top: 1px solid #ddd;
}

#search-form div.widget {
	margin-bottom: 2%;
}

#search-form div.widget .fill-label {
	width: 10%;
	margin-right: 1%;
}

#search-form div.widget .fill-info p {
	float: right;
}

#search-form button {
	margin-left: 20%;
	width: 10%;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
}

/*
	showMaster.jsp
*/
.master-name a {
	margin: 20px 50px 20px 50px;
}

.data-table-title {
	display: inline-flex;
}

.data-table-title a {
	margin-left: 20px;
}

.clearfix span {
	text-align: right;
}

.control-panel a {
	text-align: left;
}

.clearfix td {
	display: inline-block;
	width: 100%;
	text-align: left;
}

/*edit Master*/
.form-wp {
	margin-top: 3%;
	width: 100%;
	border-top: 1px solid #ddd;
}

.edit-form {
	width: 50%;
	margin: 0px auto;
	padding-top: 1%;
}

.edit-form .fill-label {
	float: left;
	width: 25%;
}

.edit-form .fill-info {
	margin-left: 5%;
	display: inline-block;
}

.edit-form .fill-control {
	width: 50%;
	margin: 0px auto;
	padding-top: 1%;
}

.edit-form-button {
	display: inline-block;
	background-color: #EEECE1;
	color: #333;
	border: 1px solid #333;
	height: 30px;
	width: 45%;
	text-align: center;
	padding: 2px;
	cursor: pointer;
}

/* add Master.jsp*/
.insert-button p {
	display: inline-flex;
	margin-right: 10px;
}

/*
	addDatabase
*/
#add-database-form {
	text-align: center;
	margin-top: 50px;
}

#database-name {
	margin-bottom: 20px;
}

/*
	addLanguage
*/
#add-language-form {
	text-align: center;
	margin-top: 50px;
}

#language-name {
	margin-bottom: 20px;
}

/*
	addIndustry
*/
#add-industry-from {
	text-align: center;
	margin-top: 50px;
}

#industry-input {
	display: inline-flex;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#industry-id {
	text-align: left;
	margin-right: 10px;
	width: 30%;
}

#industry-name {
	width: 100%;
}

/*
	addFramework
*/
#add-framework-from {
	text-align: center;
	margin-top: 50px;
}

#framework-input {
	display: inline-flex;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#framework-id {
	text-align: left;
	margin-right: 10px;
	width: 30%;
}

#framework-name {
	width: 100%;
}

/*
	addCertificate
*/
#add-certificate-form {
	text-align: center;
	margin-top: 50px;
}

#certificate-name {
	margin-bottom: 20px;
}

/*
	addDepartment
*/
#add-department-form {
	text-align: center;
	margin-top: 50px;
}

#department-input {
	display: inline-flex;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#deparment-id {
	text-align: left;
	margin-right: 10px;
	width: 100%;
}

#department-name {
	width: 30%;
	margin-left: 20px;
}

/*workHistoryInsert.jsp*/
.search-form2 button {
	margin-left: 85%;
	width: 10%;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
}

.search-form textarea {
	position: relative;
	top: 20px;
}

.search-form select {
	position: relative;
	bottom: 40px;
}

.textfix span {
	position: relative;
	bottom: 40px;
}

#wrapper > div > div.insert-form-content > div > div.search-form-content > div > form > table > thead > tr:nth-child(2) > td:nth-child(2) > select{
	width: 245px;
}

/*
login.jsp
*/
.table-title p {
	font-weight: bold;
	margin: 5px 0px 0px 35px;
}

.login-title {
	font-size: 25px;
	display: block;
	background-color: #4F81BD;
	height: 27px;
}

.login-title p {
	color: #fff;
}

.login-notice p {
	width: 50%;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 20px;
}

.f-login {
	text-align: center;
	margin-bottom: 10px;
}

/* detail.jsp*/
#employee-edit-form .employee-info, #employee-edit-form .employee-certificate
	{
	width: 40%;
}

#employee-edit-form .list-operation {
	width: 20%;
}

#employee-edit-form .thead-text {
	width: 30%;
}

#employee-edit-form .tbody-text {
	width: 70%;
}

#employee-edit-form .employee-info  table tbody  tr:nth-child(4),
	#employee-edit-form .employee-certificate tr td {
	width: 100%;
}

#employee-edit-form .employee-info  table tbody tr:nth-child(4)>td {
	width: 16%;
}

/* edit.jsp*/
table.edit-work-history-table > tbody > tr > td > select{
	width: 136px;
}
table.edit-work-history-table td.work-time{
	width:100%;
}
td.work-time > div > input{
	width: 40px;
}

tr.mini-tr > td:nth-child(1), tr.mini-tr > td:nth-child(2), tr.mini-tr > td:nth-child(4), tr.mini-tr > td:nth-child(5) {
	width:15%;
}

tr.mini-tr > td:nth-child(3){
	width:36%!important;
}

tr.mini-tr > td:nth-child(5) > input{
	width: 60px;
}
tr.mini-tr > td:nth-child(2) > input{
	width: 25px;
}